@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
} */

/* width */
/* ::-webkit-scrollbar {
  width: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background-color: #0a0a0a;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background-color: #115e59;
  border-radius: 0.5rem;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background-color: #0d9488;
} */
